<div class="container">
  <div class="mt-4">
    <app-titulo titulo="Registar Salida"></app-titulo>
  </div>

<form [formGroup]="salidaForm" >
  <div class="container">
    <div class="row g-3">

      <!-- Usuario -->
      <div class="col-md-6" *ngIf="isLoggedIn && user">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label><i class="fas fa-user me-1"></i> Usuario</mat-label>
          <input matInput disabled [value]="user.username" />
        </mat-form-field>
      </div>

      <!-- Cantidad -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label><i class="fas fa-sort-numeric-up me-1"></i> Cantidad</mat-label>
          <input matInput type="number" formControlName="cantidad" />
        </mat-form-field>
      </div>

      <!-- Producto -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label><i class="fas fa-box me-1"></i> Producto</mat-label>
          <mat-select formControlName="producto">
            <mat-option *ngFor="let prod of productos" [value]="prod">
              {{ prod.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Descripción -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label><i class="fas fa-file-alt me-1"></i> Descripción</mat-label>
          <input matInput formControlName="descripcion" />
        </mat-form-field>
      </div>

      <!-- Fecha de salida (1 columna) -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label><i class="fas fa-calendar-alt me-1"></i> Fecha de Salida</mat-label>
          <input matInput type="date" formControlName="fechaSalida" />
        </mat-form-field>
      </div>

    </div>
   <div class="row g-3">
        <div class="col-12 col-md-6">
            <app-button  label="Registrar Salida" icon="fas fa-user-plus" color="button" (click)="enviarSalida()">
            </app-button>
        </div>

        <div class="col-12 col-md-6">
            <app-button label="Agregar Registro" icon="fas fa-plus-circle " color="button" (click)="agregarProducto()">
            </app-button>
        </div>
    </div>
   
  </div>
</form>


  <div>
    <table class="table" *ngIf="listaDetalleSalida.length > 0">
      <thead>
        <tr>
          <th><i class="fas fa-file-alt"></i> Descripción</th>
          <th><i class="fas fa-sort-numeric-up"></i> Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of listaDetalleSalida">
          <td>{{ detalle.descripcion }}</td>
          <td>{{ detalle.cantidad }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>