<div class="container p-4 p-md-5 bg-white rounded-4 shadow-lg">
  <app-titulo titulo="Módulo de Usuario"></app-titulo>
  <mat-tab-group [(selectedIndex)]="activeTab">
    <mat-tab label="Usuario Administrador">
      <div *ngIf="activeTab === 0">
        <app-usuario-administrador></app-usuario-administrador>
      </div>
    </mat-tab>
    <mat-tab label="Usuario Operador">
      <div *ngIf="activeTab === 1">
        <app-usuario-operador></app-usuario-operador>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>