<div class="container">
  <div class="mt-4">
    <app-titulo titulo="Nosotros"></app-titulo>
  </div>
  <div class="main-timeline">
    <div class="timeline">

      <span class="year">Historia Super Xtra</span>
      <div class="timeline-content">
        <p class="card-text text-justify">
          <strong>Super Xtra</strong> es una empresa peruana dedicada a la venta de productos de consumo masivo.
          Cuenta con más de <span class="fw-bold">10 años en el mercado</span> y se encuentra ubicada en el distrito
          de <span class="text-primary">San Martín de Porres</span> en Lima.
        </p>

        <p class="card-text text-justify">
          La empresa se caracteriza por ofrecer una amplia variedad de productos a
          <span class="fw-bold">precios competitivos</span> en un formato de tienda pequeña.
          Su portafolio incluye categorías como abarrotes, limpieza, cuidado personal, hogar,
          mascotas, bebidas, entre otros.
        </p>
      </div>
    </div>
    <div class="timeline">

      <span class="year">Misión</span>
      <div class="timeline-content">
        <p class="card-text text-justify">
          <strong>Mejorar la experiencia de compra</strong> y, a través del ahorro, la calidad de vida de nuestros
          clientes,
          en alianza con nuestros socios comerciales.
        </p>

        <p class="card-text text-justify">
          <strong>Fortalecer la comunicación y el trabajo en equipo</strong>, con el respaldo de colaboradores
          comprometidos y capacitados.
        </p>

        <p class="card-text text-justify mb-0">
          <strong>Maximizar la rentabilidad y sostenibilidad de la marca</strong> mediante nuestra capacidad de
          negociación
          y eficiencia operativa.
        </p>
      </div>
    </div>
    <div class="timeline">

      <span class="year">Visión</span>
      <div class="timeline-content">
        <p class="card-text fs-5 fw-semibold mb-0">
          Ser líder en la venta de consumo masivo al por mayor y menor en el Perú.
        </p>
      </div>
    </div>
    <div class="timeline">
      <span class="year">Valores</span>
      <div class="timeline-content">
        <ul class="list-unstyled mb-0">
          <li class="d-flex align-items-start mb-2">
            <i class="fas fa-user me-2 mt-1"></i>
            <span><strong>Primero el cliente</strong></span>
          </li>

          <li class="d-flex align-items-start mb-2">
            <i class="fas fa-handshake me-2 mt-1"></i>
            <span><strong>Honestidad, integridad y respeto</strong></span>
          </li>

          <li class="d-flex align-items-start mb-2">
            <i class="fas fa-comments  me-2 mt-1"></i>
            <span><strong>Comunicación efectiva y claridad funcional</strong></span>
          </li>

          <li class="d-flex align-items-start mb-2">
            <i class="fas fa-heart  me-2 mt-1"></i>
            <span><strong>Lealtad y compromiso</strong> con el éxito de la compañía</span>
          </li>

          <li class="d-flex align-items-start mb-2">
            <i class="fas fa-check-circle  me-2 mt-1"></i>
            <span><strong>Responsabilidad</strong> para el logro de resultados</span>
          </li>

          <li class="d-flex align-items-start mb-2">
            <i class="fas fa-bolt  me-2 mt-1"></i>
            <span><strong>Agilidad y eficiencia</strong> en la toma de decisiones</span>
          </li>

          <li class="d-flex align-items-start">
            <i class="fas fa-leaf  me-2 mt-1"></i>
            <span><strong>Conciencia ecológica y comunitaria</strong></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>