<div class="container">
  <div class="mt-4">
    <app-titulo titulo="Actualizar Datos"></app-titulo>
  </div>

  <div  *ngIf="user">

    <form>
      <div class="row g-3">

        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input type="text" id="usuario" name="usuario" [(ngModel)]="user.username" required matInput>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="user.nombre" required matInput>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input type="text" id="email" name="email" [(ngModel)]="user.email" required matInput>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Dirección</mat-label>
            <input type="text" id="direccion" name="direccion" [(ngModel)]="user.direccion" required matInput>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input type="number" id="telefono" name="telefono" [(ngModel)]="user.telefono" required matInput>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>DNI</mat-label>
            <input type="text" id="dni" name="dni" [(ngModel)]="user.dni" required matInput>
          </mat-form-field>
        </div>

      </div>


      <app-button label="Actualizar" icon="fas fa-save" color="button" (click)="actualizarUsuario()">
      </app-button>
    </form>
  </div>

</div>