<div class="container">
  <div class="mt-4">
    <app-titulo titulo="Modulo de Productos"></app-titulo>
  </div>
  <mat-tab-group [(selectedIndex)]="activeTab">
    <mat-tab label="Activadas">
      <div *ngIf="activeTab === 0">
        <app-listar-producto-activadas></app-listar-producto-activadas>
      </div>
    </mat-tab>
    <mat-tab label="Desactivadas">
      <div *ngIf="activeTab === 1">
        <app-listar-producto-desactivadas></app-listar-producto-desactivadas>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>