
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 20px;
    }

    .mat-form-field {
      width: 100%;
      font-size: 1rem;
    }



    .mat-form-field .mat-label {
      color: #2a5298;
      font-weight: 600;
    }

    .mat-form-field input:disabled {
      color: #666;
      background: #e6e6e6;
    }
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* dos columnas iguales */
  gap: 16px;
}

.form-buttons {
  grid-column: span 2; /* ocupa las dos columnas */
  display: flex;
  justify-content: space-between; /* los botones quedan separados */
}

    .btn-action {
      padding: 12px 100px;
      background: #ff6f61;
      color: #fff;
      border: none;
      border-radius: 50px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: all 0.3s ease;
    }

    .btn-action i {
      font-size: 1.1rem;
    }

    .btn-action:hover {
      background: #fff;
      color: #ff6f61;
      border: 2px solid #ff6f61;
      transform: translateY(-3px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    .table thead {
      background: #2a5298;
    }

    .table th {
      padding: 15px;
      color: #fff;
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
    }

    .table td {
      padding: 15px;
      font-size: 1rem;
      color: #333;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    .table tbody tr:hover {
      background: #f5f5f5;
      transition: background 0.3s ease;
    }




   