
  <div class="container">
     <div class="mt-4">
        <app-titulo titulo="Modulo de Proveedor"></app-titulo>
    </div>
    <mat-tab-group [(selectedIndex)]="activeTab">
      <mat-tab label="Activadas">
        <div *ngIf="activeTab === 0">
          <app-listar-activadas-proveedor></app-listar-activadas-proveedor>
        </div>
      </mat-tab>
      <mat-tab label="Desactivadas">
        <div *ngIf="activeTab === 1">
          <app-listar-desactivar-proveedor></app-listar-desactivar-proveedor>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
