<div class="container">
  <div class="mt-4">
    <app-titulo titulo="Módulo de Reclamos"></app-titulo>
  </div>
  <mat-tab-group [(selectedIndex)]="activeTab">
    <mat-tab label="Activadas">
      <ng-template mat-tab-label>
        Activadas
      </ng-template>
      <div *ngIf="activeTab === 0" class="tab-content">
        <app-listar-reclamo-activados></app-listar-reclamo-activados>
      </div>
    </mat-tab>
    <mat-tab label="Desactivadas">
      <ng-template mat-tab-label>
        Desactivadas
      </ng-template>
      <div *ngIf="activeTab === 1" class="tab-content">
        <app-listar-reclamo-desactivados></app-listar-reclamo-desactivados>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>