<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center p-3 bg-light">
  <div class="content">
    <h1 class="welcome-title"><i class="fas fa-warehouse"></i> ¡Bienvenido!</h1>
    <h4 class="text-center fs-5 text-muted mb-4">
      Panel Administrativo de Almacén<br>
      Administra tu inventario con facilidad y eficiencia.
    </h4>
    <div class="mt-3 mb-3 text-center" class="w-auto px-5">
      <app-button routerLink="/login" label="¡Empecemos!" icon="fas fa-rocket" color="inicio">
      </app-button>
    </div>
  </div>
</div>