
.login-title {
  font-size: 2.5rem;
  color: #2a5298;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-title i {
  color: #ff6f61;
  animation: pulse 2s infinite;
}

.mat-form-field {
  font-size: 1rem;
  color: #333;
}

.mat-form-field .mat-label {
  color: #2a5298;
  font-weight: 600;
}


mat-icon {
  margin-right: 10px;
  color: #ff6f61;
}

i {
  font-size: 60px;
  color: #ff6f61;
}