<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center p-3 bg-light">
  <div class=" shadow-lg rounded-4 p-5 bg-white" style="max-width: 400px; width: 100%;">
    <div class="text-center mb-3">
      <i class="fas fa-user-circle"></i>
    </div>

    <h1 class="text-center mb-4 login-title">INICIAR SESIÓN</h1>

    <form [formGroup]="formulario" (ngSubmit)="operar()">
      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Nombre de usuario</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput formControlName="login" placeholder="Digite su nombre de usuario" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 ">
        <mat-label>Contraseña</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"
          placeholder="Digite su contraseña" required>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()"
          aria-label="Mostrar u ocultar contraseña">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="text-center">
        <app-button label="INICIAR SESION" icon="fas fa-sign-in-alt" color="inicio">
        </app-button>
      </div>
    </form>
  </div>
</div>