<div class="container">
  <div class="row g-3 mt-4 mb-4">
    <div class="col-12 col-md-6">
      <app-button [routerLink]="'/admin/proveedor/crear-proveedor'" label="Registrar" icon="fas fa-user-plus"
        color="button">
      </app-button>
    </div>

    <div class="col-12 col-md-6">
      <app-button label="Reporte" icon="fas fa-file-pdf" color="button" (click)="descargarPDF()">
      </app-button>
    </div>
  </div>

  <div class="search-container">
    <mat-form-field appearance="outline" class="w-100">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" placeholder="Buscar por nombre" [(ngModel)]="nombre" (input)="buscarPorNombre()"
        autocomplete="off">
    </mat-form-field>
  </div>


   <app-tabla
    [columnas]="columnas"
    [datos]="proveedores"
    [botonesConfig]="botonesConfig"
    [onVer]="verProveedor.bind(this)"
 
    [onDesactivar]="desactivarProveedor.bind(this)">
  </app-tabla>

  <mat-paginator [length]="proveedores.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
    (page)="onPageChange($event)" #paginator></mat-paginator>
</div>